<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043142294768-rpkra15mi6lefa47pcfb70vicr8pmp2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043142294768-rpkra15mi6lefa47pcfb70vicr8pmp2f</string>
	<key>API_KEY</key>
	<string>AIzaSyB_IYSr2VPuamFD6JZxB5_ArBLEPnvRJfg</string>
	<key>GCM_SENDER_ID</key>
	<string>1043142294768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trappraChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trappra-chat-b51f7</string>
	<key>STORAGE_BUCKET</key>
	<string>trappra-chat-b51f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043142294768:ios:9a4a3a070c1e4c370a5635</string>
</dict>
</plist>